.title {
  margin: auto;
  width: 50%;
  background-color: lightblue;
  padding: 5px;
  margin-bottom: 15px;
}

.centerText {
  margin: 0%;
  text-align: center;
}

.messageContainer {
  margin: auto;
  width: 25%;
  background-color: lightgray;
  padding: 5px;
  margin-bottom: 15px;
}

.timeText {
  text-align: left;
  font-size: small;
  padding: 0%;
}
